@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* ---------- COLOURS */

/* ---------- FONTS/STYLES */

/* ---------- NAVIGATION BAR */

/* ---------- CAROUSEL */


.title-font h5 {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.title-font p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 32px;
}



.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

/* ---------- MEDIA QUERIES */

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  .carousel-item img {
    height: 525px;
}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .carousel-item img {
    height: 550px;
}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .carousel-item img {
    height: 600px;
}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .carousel-item img {
    height: 700px;
}
}
